@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebDatVeMayBay.Models.NhanVien>

@{
    ViewBag.Title = "Danh sách nhân viên";
}

<h2 class="mb-5">Quản lý nhân viên / Danh sách nhân viên</h2>

<div class="container-fluid mt-3">
    <!-- Form tìm kiếm -->
    @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
    {
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" name="searchTerm" class="form-control" placeholder="Tìm kiếm..." value="@Request.QueryString["searchTerm"]" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
            <div class="col-md-4">
                <a href="/admin/nhanvien/create" class="btn btn-primary float-end">Tạo mới nhân viên</a>
            </div>
        </div>
    }
    <!-- Bảng danh sách nhân viên -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Mã nhân viên", "Index", new { sortOrder = ViewBag.SortByMaNhanVien, searchTerm = Request.QueryString["searchTerm"] })
                </th>
                <th>
                    @Html.ActionLink("Tên nhân viên", "Index", new { sortOrder = ViewBag.SortByTenNhanVien, searchTerm = Request.QueryString["searchTerm"] })
                </th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>SDT</th>
                <th>Tình trạng</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nhanVien in Model)
            {
                <tr>
                    <td>@nhanVien.MaNV</td>
                    <td>@nhanVien.TenKH</td>
                    <td>@nhanVien.GioiTinh</td>
                    <td>@nhanVien.NgaySinh.Value.ToString("dd/MM/yyyy")</td>
                    <td>@nhanVien.SDT</td>
                    <td>@nhanVien.TinhTrang</td>
                    <td>
                        <a href="@Url.Action("Details", "NhanVien", new { id = nhanVien.MaNV })" class="btn btn-info btn-sm">Chi tiết</a>
                        <a href="@Url.Action("Edit", "NhanVien", new { id = nhanVien.MaNV })" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="@Url.Action("Delete", "NhanVien", new { id = nhanVien.MaNV })" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Phân trang -->
    <div class="d-flex justify-content-center mt-4">
        @Html.PagedListPager(Model,
         page => Url.Action("Index",
         new { page, sortOrder = ViewBag.CurrentSort, searchTerm = Request.QueryString["searchTerm"] }),
         new PagedListRenderOptions
         {
             UlElementClasses = new[] { "pagination" },
             LiElementClasses = new[] { "page-item" },
             LinkToPreviousPageFormat = "<",
             LinkToNextPageFormat = ">",
             LinkToFirstPageFormat = "<<",
             LinkToLastPageFormat = ">>",
             DisplayLinkToFirstPage = PagedListDisplayMode.Always,
             DisplayLinkToLastPage = PagedListDisplayMode.Always,
             DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
             DisplayLinkToNextPage = PagedListDisplayMode.Always,
             Display = PagedListDisplayMode.IfNeeded,
             FunctionToTransformEachPageLink = (liTag, aTag) =>
             {
                 aTag.AddCssClass("page-link");
                 liTag.InnerHtml = aTag.ToString();
                 return liTag;
             }
         })
    </div>
</div>
